{% extends 'base.html' %}

{% block navbar %}
    {% include 'inc/_navbar.html' %}
{% endblock %}

{% block content %}
    <form method="post">
        <p align="center">
            <img src="{{ home_page.login_img.url }}" width="300px" height="300px">
        </p>
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn-dark btn-primary">Войти</button>
        <small id="buttonHelp" class="form-text text-muted">Значит, ты выбрал смерть...</small>
    </form>

{% endblock %}