<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Голосавание</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'elections' %}">Кандидаты<span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated  %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_slogan' %}">Добавить кандидата</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_candidates' %}">Мои кандидаты</a>
      </li>
    {% endif %}
    </ul>

{#    <form class="d-flex">#}
{#      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success" type="submit">Search </button>#}
{#      <a class="nav-link" href="{% url 'my_candidates' %}">Поиск</a>#}
{#    </form>#}


    <span class="navbar-text ml-1">

       {% if request.user.is_authenticated  %}
           Слава Арцтоцке, {{ user.username }}! | <a href=" {% url 'logout' %}">Выход </a>
       {% else %}
           <a href="{% url 'registry' %}">Регистрация</a> | <a href=" {% url 'login' %} ">Авторизация</a>
       {% endif %}
    </span>
  </div>
</nav>